//normalize i importy:
html {
  overflow-x: hidden;

  a, li {
    text-decoration: none;
  }

  list-style: none;
  text-decoration: none;
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  body {
    margin: 0;
    font-family: var(--font-base);
    list-style: none;
  }

  main {
    display: block;
    list-style: none;
  }

  h1 {
    font-size: 18px;
    margin: 0.67em 0;
  }

  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }

  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }

  a {
    background-color: transparent;
  }


  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
  }

  b,
  strong {
    font-weight: bolder;
  }


  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }

  small {
    font-size: 80%;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  img {
    border-style: none;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }


  button,
  input { /* 1 */
    overflow: visible;

    button,
    select { /* 1 */
      text-transform: none;
    }

    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
      -webkit-appearance: button;
    }

    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
      border-style: none;
      padding: 0;
    }

    button:-moz-focusring,
    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
      outline: 1px dotted ButtonText;
    }

    fieldset {
      padding: 0.35em 0.75em 0.625em;
    }

    legend {
      box-sizing: border-box; /* 1 */
      color: inherit; /* 2 */
      display: table; /* 1 */
      max-width: 100%; /* 1 */
      padding: 0; /* 3 */
      white-space: normal; /* 1 */
    }

    progress {
      vertical-align: baseline;
    }

    textarea {
      overflow: auto;
    }


    [type="checkbox"],
    [type="radio"] {
      box-sizing: border-box; /* 1 */
      padding: 0; /* 2 */
    }


    [type="number"]::-webkit-inner-spin-button,
    [type="number"]::-webkit-outer-spin-button {
      height: auto;
    }


    [type="search"] {
      -webkit-appearance: textfield; /* 1 */
      outline-offset: -2px; /* 2 */
    }


    [type="search"]::-webkit-search-decoration {
      -webkit-appearance: none;
    }

    ::-webkit-file-upload-button {
      -webkit-appearance: button; /* 1 */
      font: inherit; /* 2 */
    }

    details {
      display: block;
    }


    summary {
      display: list-item;
    }

    template {
      display: none;
    }

    [hidden] {
      display: none;
    }
  }
}

@import "./settings/colors";
@import "./settings/fonts";
$baseHeight: 100vh;

.homepage {

  .homeHeader {
    height: $baseHeight;
    width: 100vw;
    display: flex;
    flex-direction: row;

    .leftSide {
      height: 100%;
      width: 50vw;
      background: url("../../assets/Home-Hero-Image.jpg") no-repeat bottom;
      background-size: contain;
    }

    .rightSide {
      position: relative;
      width: 50vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      .authSection {
        cursor: pointer;
        font-size: 18px;
        width: 50vw;
        top: 2%;
        position: absolute;
        right: 10%;
        display: flex;
        align-items: center;
        justify-content: right;

        .authButtons {
          display: flex;
          flex-direction: row;
          width: 25%;
          justify-content: right;
          height: 60px;

          .authUserWrapper {
            display: flex;
            justify-content: right;
            align-items: center;
            width: auto;
            text-wrap: none;

            .loggedUser {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: right;
              width: 600px;
              height: 10px;
              margin-right: 20px;
            }
          }

          .authButtonWrapper {
            height: 90%;
            width: 100%;
            padding-left: 2px;
            padding-right: 2px;

            .authButton:hover {
              cursor: pointer;
              border-color: var(--colour-yellow);
              border-width: 1px;
              border-style: solid;
              box-shadow: 1px 1px var(--colour-yellow);
            }

            .authButton {
              border: none;
              background: none;
              min-width: 190px;
              height: 100%;
            }
          }
        }
      }

      .navigation {

        font-size: 18px;
        width: 50vw;
        top: 9%;
        position: absolute;
        right: 10%;
        display: flex;
        align-items: center;
        justify-content: right;

        .navButtons {
          display: flex;
          flex-direction: row;
          width: auto;
          justify-content: right;
          padding-left: 10px;
          height: 60px;

          .navButtonWrapper {

            text-wrap: none;
            height: 90%;
            width: 90%;
            padding-left: 2px;
            padding-right: 2px;
          }

          .navButton {
            border: none;
            background: none;
            min-width: 200px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .navButtonLink {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
          }

          .navButton:hover {
            cursor: pointer;
            border-color: var(--colour-yellow);
            border-width: 1px;
            border-style: solid;
            box-shadow: 1px 1px var(--colour-yellow);
          }
        }
      }

      .basePageMiddleSection {
        position: absolute;
        text-align: center;
        height: 100%;
        width: 100%;
        top: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        .baseText {
          width: 100%;
          font-size: 2.4rem;
          margin-bottom: 20px;
        }

        .basePageDecoration {
          width: 30%;
          height: 3.5%;
          background: url("../../assets/Decoration.svg") no-repeat center;
          background-size: cover;
          margin-bottom: 40px;
        }

        .baseButtons {

          position: relative;
          display: flex;
          flex-direction: row;
          padding-top: 40px;

          .mainPageButton {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            height: 10vh;
            width: 250px;
            margin: 40px;

            .mainPageButtonRange {
              cursor: pointer;
              display: flex;
              text-align: center;
              align-self: center;
              justify-self: center;
              position: relative;
              height: 100%;
              width: 100%;

              .mainButtonText {
                position: relative;
                padding: 5px;
                font-size: 2rem;
                color: black;
                margin: auto;
              }
            }

            .mainPageButtonRange:hover {
              background: rgba(46, 46, 49, 0.1);
              box-shadow: 2px 2px var(--colour-dark-grey);
            }
          }
        }
      }
    }
  }

  .buttonToTop {
    z-index: 10;
    position: fixed;
    bottom: 100px;
    left: 100px;
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAD648;

  }

  .buttonToTop:hover {
    background-color: rgba(239, 190, 32, 0.35);
  }

  .whatsUp {
    height: 30vh;
    background: transparent url('../../assets/3 Columns Background.png') 0 0 padding-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .whatsUpItem {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .whatsUpCounter {
        font-size: 4rem;
        text-align: center;
      }

      .whatsUpTitle {
        font-size: 1rem;
        text-align: center;
        margin: 30px 0 30px 0;
      }

      .whatsUpDescription {
        font-size: 0.8rem;
        text-align: center;
      }
    }
  }

  .simpleSteps {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .simpleTitle {
      font-size: 35px;
    }

    .simpleDecoration {
      width: 200px;
      height: 25px;
      background: url("../../assets/Decoration.svg") no-repeat center;
      background-size: cover;
      margin-bottom: 40px;
    }

    .simpleStepsItems {
      width: 100%;
      height: 40%;
      background: var(--colour-light-grey) 0 0 no-repeat padding-box;;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      .simpleIcon1 {
        display: block;
        height: 90px;
        width: 90px;
        background: url("../../assets/Icon-1.svg") center no-repeat;
      }

      .simpleIcon2 {
        display: block;
        text-align: center;
        height: 90px;
        width: 90px;
        background: url("../../assets/Icon-2.svg") center no-repeat;
      }

      .simpleIcon3 {
        display: block;
        text-align: center;
        height: 90px;
        width: 90px;
        background: url("../../assets/Icon-3.svg") center no-repeat;
      }

      .simpleIcon4 {
        display: block;
        text-align: center;
        height: 90px;
        width: 90px;
        background: url("../../assets/Icon-4.svg") center no-repeat;
      }

      .simpleStepItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        width: 10vw;

        .simpleCommand {
          text-align: center;
          margin: 5px;
        }

        .simpleLine {
          text-align: center;
          height: 1px;
          width: 5vw;
          background: black;
          margin: 5px;
        }

        .simpleDescription {
          text-align: center;
          margin: 5px;
          width: 100%;
        }
      }
    }

    .simpleButtons {
      position: relative;
      display: flex;
      flex-direction: row;
      padding-top: 30px;

      .simpleButton {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        height: 10vh;
        width: 250px;
        margin: 40px;

        .simpleButtonRange {
          display: flex;
          text-align: center;
          align-self: center;
          justify-self: center;
          position: relative;
          height: 100%;
          width: 100%;

          .simpleButtonText {
            position: relative;
            font-size: 2.3rem;
            color: black;
            margin: auto;
          }
        }

        .simpleButtonRange:hover {
          background: rgba(46, 46, 49, 0.1);
          box-shadow: 2px 2px var(--colour-dark-grey);
        }
      }
    }
  }

  .about {
    width: 100%;
    height: $baseHeight;
    display: flex;
    flex-direction: row;

    .rightSide {
      width: 100vh;
      background: url("../../assets/People.jpg");
      background-size: cover;
    }

    .leftSide {
      width: 50vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .aboutTitle {
        font-size: 35px;
      }

      .aboutDecoration {
        width: 200px;
        height: 25px;
        background: url("../../assets/Decoration.svg") no-repeat center;
        background-size: cover;
        margin-top: 40px;
        margin-bottom: 40px;
      }

      .aboutDescription {
        text-align: center;
        width: 60%;
        line-height: 3;
        font-size: 22px;
      }

      .aboutSignature {
        position: relative;
        top: 30px;
        align-self: end;
        width: 209px;
        height: 149px;
        background: url("../../assets/Signature.svg") no-repeat;
        background-size: cover;
        margin-bottom: 40px;
        margin-right: 18%;
      }
    }
  }

  .organizations {
    height: $baseHeight;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .organizationsTitle {
      font-size: 35px;
    }

    .organizationsButtons {
      position: relative;
      display: flex;
      flex-direction: row;
      padding-top: 40px;

      .organizationButton {
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        width: 250px;
        margin: 50px;

        .organizationButtonRange {
          display: flex;
          text-align: center;
          align-self: center;
          justify-self: center;
          position: relative;
          height: 100%;
          width: 100%;

          .organizationButtonText {
            position: relative;
            font-size: 1.5rem;
            color: black;
            margin: auto;
          }
        }

        .organizationButtonRange:hover {
          cursor: pointer;
        }
      }
    }

    .organizationsContainer {

      height: 30vh;
      width: 70%;
      font-size: 2rem;
      padding: 50px;

      .organizationsItems {
        display: flex;
        flex-direction: column;

        .listElement {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 1%;
          margin-bottom: 1%;

          .organizationMainData {
            width: 100vw;
            display: flex;
            flex-direction: column;

            .organizationName {
              font-size: 1.8rem;
              margin-bottom: 3%;
            }

            .organizationTarget {
              font-size: 1.1rem;
            }
          }

          .organizationRequest {
            align-self: center;
            text-align: end;
            width: 50vw;
            font-size: 1.1rem;
          }
        }

        .paginationContainer {

          font-size: 1.3rem;

          .pagination {
            position: relative;
            height: 10%;
            width: 100%;
            padding: 1%;
            align-self: end;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .paginationDigitArea {
              cursor: pointer;
              height: 60px;
              width: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0 10px 0 10px;
              border: 1px solid #fdfdfe;

              .paginationDigit {
                padding: 10px;

              }
            }

            .paginationDigitArea:hover {
              border: 1px solid black;
            }
          }
        }
      }
    }

    .organizationsDecoration {
      top: 90%;
      width: 280px;
      height: 35px;
      background: url("../../assets/Decoration.svg") no-repeat center;
      background-size: cover;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .organizationsDescription {
      text-align: center;
      width: 40%;
      font-size: 22px;
      line-height: 2;
      margin-top: 2%;
    }
  }

  .contact {
    height: $baseHeight;
    display: flex;
    flex-direction: row;

    .leftSide {
      z-index: 3;
      height: 100vh;
      width: 100vw;
      background: url("../../assets/Background-Contact-Form.jpg");
      background-size: cover;
      opacity: 0.1;

    }

    .rightSide {
      z-index: 1;
      background: none;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 80%;
      align-items: center;
      justify-content: center;

      .contactTitle {
        font-size: 35px;
      }

      .contactDecoration {
        width: 200px;
        height: 25px;
        background: url("../../assets/Decoration.svg") no-repeat center;
        background-size: cover;
        margin-top: 40px;
        margin-bottom: 40px;
      }

      .succesMessageWrapper {
        font-size: 20px;

        .succesMessage {
          color: #66ce66;
        }
      }


      .form {
        width: 70%;
        height: 45%;

        .upperLabels {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 5%;
          margin-bottom: 5%;

          .upperInputWrapper {
            width: 48%;
            display: flex;
            flex-direction: column;
            margin-top: 1%;

            .upperLabel {
              display: flex;
              width: 45%;
            }

            .upperInput {
              line-height: 1.5;
              margin-top: 15%;
              width: 97%;
              border: none;
              border-bottom: 1px solid rgba(73, 73, 77, 0.4);
            }

            .upperInput:focus {
              outline: none;
            }

            .errorMessage {
              color: red;
              height: 50px;
              padding-top: 10px;
            }
          }
        }

        .bottomLabel {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-top: 10%;

          textarea {
            line-height: 1.5;
            resize: none;
            height: 110px;
            text-align: justify;
            margin-top: 2%;
            width: 100%;
            border: none;
            border-bottom: 1px solid rgba(73, 73, 77, 0.4);
          }
        }

        textarea:focus {
          outline: none;
        }


        .errorMessage {
          color: red;
          height: 50px;
          padding-top: 10px;
        }

        .formButtonWrapper {
          width: 100%;
          display: flex;
          justify-content: end;

          .formButton {
            height: 50px;
            width: 150px;
            margin-top: 40px;
            position: relative;


            .formButtonRange {
              cursor: pointer;
              display: flex;
              text-align: center;
              align-self: center;
              justify-self: center;
              position: relative;
              height: 100%;
              width: 100%;
              background: none;
              border: 1px solid rgba(58, 60, 64, 0.4);

              .formButtonText {
                position: relative;
                padding: 5px;
                font-size: 1rem;
                color: #3a3c40;
                margin: auto;
              }
            }

            .formButtonRange:hover {
              background: rgba(46, 46, 49, 0.1);
              box-shadow: 2px 2px var(--colour-dark-grey);
            }
          }
        }
      }
    }

    .footer {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      align-items: center;

      .footerCopyright {
        height: 100%;
        width: 300px;
        text-align: center;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 2%;
      }

      .footerMediaWrapper {
        width: 200px;
        position: absolute;
        bottom: 2%;
        right: 5%;
        margin-bottom: 1%;

        .footerMedia {
          display: flex;
          flex-direction: row;
          position: relative;
          justify-content: center;
          align-items: center;


          .facebookIcon {
            margin-left: 10px;
            display: block;
            height: 20px;
            width: 20px;
            background: url("../../assets/Facebook.svg") center no-repeat;
          }

          .instagramIcon {
            margin-left: 10px;
            display: block;
            height: 50px;
            width: 50px;
            background: url("../../assets/Instagram.svg") center no-repeat;
          }
        }
      }
    }
  }
}

.registrationForm {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .authSection {
    font-size: 18px;
    width: 50vw;
    top: 2%;
    position: absolute;
    right: 10%;
    display: flex;
    align-items: center;
    justify-content: right;

    .authButtons {
      display: flex;
      flex-direction: row;
      width: 25%;
      justify-content: right;
      height: 60px;

      .authUserWrapper {
        display: flex;
        justify-content: right;
        align-items: center;
        width: auto;
        text-wrap: none;

        .loggedUser {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: right;
          width: 600px;
          height: 10px;
          margin-right: 20px;
        }
      }

      .authButtonWrapper {
        height: 90%;
        width: 100%;
        padding-left: 2px;
        padding-right: 2px;

        .authButton:hover {
          border-color: var(--colour-yellow);
          border-width: 1px;
          border-style: solid;
          box-shadow: 1px 1px var(--colour-yellow);
        }

        .authButton {
          border: none;
          background: none;
          min-width: 190px;
          height: 100%;
        }
      }
    }
  }

  .navigation {
    color: black;
    text-decoration-color: black;
    text-decoration: none;
    font-size: 18px;
    width: 50vw;
    top: 9%;
    position: absolute;
    right: 10%;
    display: flex;
    align-items: center;
    justify-content: right;

    .navButtons {
      display: flex;
      flex-direction: row;
      width: auto;
      justify-content: right;
      padding-left: 10px;
      height: 60px;

      .navButtonWrapper {
        text-wrap: none;
        height: 90%;
        width: 90%;
        padding-left: 2px;
        padding-right: 2px;
      }

      .navButton {
        border: none;
        background: none;
        min-width: 200px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .navButtonLink {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
      }

      .navButton:hover {
        border-color: var(--colour-yellow);
        border-width: 1px;
        border-style: solid;
        box-shadow: 1px 1px var(--colour-yellow);
      }
    }
  }

  .regForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .regTitle {
      font-size: 35px;
    }

    .regDecoration {
      margin: 30px 0 40px 0;
      width: 200px;
      height: 25px;
      background: url("../../assets/Decoration.svg") no-repeat center;
      background-size: cover;

    }

    .greyArea {
      height: 30vh;
      width: 20vw;
      min-width: 500px;
      background-color: var(--colour-light-grey);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding-top: 5%;
      padding-bottom: 10%;
      margin-bottom: 20%;

      .regButtons {
        position: absolute;
        bottom: 15vh;
        width: 500px;
        height: 100px;
        display: flex;
        justify-content: space-between;

        .regButton {
          height: 50px;
          width: 150px;
          position: relative;

          .regButtonRange {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 100%;
            width: 100%;
            background: none;
            border: none;

            .regButtonText {
              align-self: center;
              position: relative;
              padding: 5px;
              font-size: 1rem;
              color: #3a3c40;
              margin: auto;
            }

            .regLoginLink {
              display: flex;
              align-self: center;
              justify-content: center;
            }
          }

          .regButtonRange:hover {
            background: rgba(46, 46, 49, 0.1);
            box-shadow: 2px 2px var(--colour-dark-grey);
          }
        }
      }
      .errorMessage {
        height: 12px;
        font-size: 12px;
        color: red;

        padding-top: 10px;
      }

      .regLabel {
        display: flex;
        width: 70%;
        background: none;
      }

      .regInput {
        background: none;
        position: relative;
        line-height: 1.5;
        width: 70%;
        border: none;
        border-bottom: 1px solid rgba(73, 73, 77, 0.4);
      }

      .regInput:focus {
        outline: none;
      }

    }
  }
}